<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input
      type="text"
      placeholder="Search city"
      name="city"
      [(ngModel)]="cityName"
    />
  </form>
</div>
<div class="container" *ngIf="weatherData">
  <div class="temp_display">
    <div class="wheather_data">
      <h3>{{ weatherData.location.name }}</h3>
      <h4>{{ weatherData.current.temp_c | number : "1.0-0" }}˚C</h4>
    </div>
  </div>
  <div class="temp_data">
    <section class="humidity">
      <p>Humidity</p>
      <div class="humidity_number">{{ weatherData.current.humidity }}%</div>
    </section>
    <section class="wind">
      <p>Wind</p>
      <div class="wind_number">{{ weatherData.current.wind_kph }}km/h</div>
    </section>
  </div>
</div>

<!-- <div class="container">
  <div class="temp_display">
    <div class="wheather_data">
      <h3>New Delhi</h3>
      <h4>{{ 13.3 | number : "1.0-0" }}˚C</h4>
    </div>
  </div>
  <div class="temp_data">
    <section class="max_temp">
      <p>Max temp</p>
      <div class="max_temp_number">30˚C</div>
    </section>
    <section class="min_temp">
      <p>Max temp</p>
      <div class="min_temp_number">20˚C</div>
    </section>
    <section class="humidity">
      <p>Humidity</p>
      <div class="humidity_number">40%</div>
    </section>
    <section class="wind">
      <p>Wind</p>
      <div class="wind_number">33 km/h</div>
    </section>
  </div>
</div> -->
